<div class="header_top">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-5">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
        <div class="col-lg-6 col-md-7">
            <div class="header_top_settings">
                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
<div class="header-lower">
    <div class="header-logo">
        @await Component.InvokeAsync("Logo")
    </div>
    <div class="search-box store-search-box">
        @await Component.InvokeAsync("SearchBox")
    </div>
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })


