@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
@*old ver comments*@
@*<div class="master-wrapper-page">*@
<header>
    <div class="main_header header_four">
        <div class="container">
            @await Component.InvokeAsync("AdminHeaderLinks")

            @await Html.PartialAsync("_Header")
            <div class="header_middle sticky_header_four sticky-header sticky" style="">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-6">
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="main_menu menu_position text-center">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="index.html">خانه<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu">
                                            <li><a href="index.html">خانه فروشگاه 1</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega_items">
                                        <a href="shop.html">
                                            فروشگاه<i class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="mega_menu">
                                            <ul class="mega_menu_inner">
                                                <li>
                                                    <a href="#">طرح های فروشگاه</a>
                                                    <ul>
                                                        <li><a href="shop-fullwidth.html">تمام عرض</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">سایر صفحات</a>
                                                    <ul>
                                                        <li><a href="cart.html">سبد خرید</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">انواع محصول</a>
                                                    <ul>
                                                        <li><a href="product-details.html">جزئیات محصول</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog.html">بلاگ<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="blog-details.html">جزئیات مطلب بلاگ</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">صفحات <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="about.html">درباره ما</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="contact.html"> تماس با ما</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="header_configure_area">
                            <div class="header_wishlist">
                                <a href="wishlist.html">
                                    <i class="fa fa-heart"></i>
                                    <span class="wishlist_count">3</span>
                                </a>
                            </div>
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="cart_price">
                                        <span>152,000 تومان</span> <i class="ion-ios-arrow-down"></i>
                                    </span>
                                    <span class="cart_count">2</span>

                                </a>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    <div class="mini_cart_inner">
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">گوشی هوشمند سامسونگ A50</a>
                                                <p>تعداد: 1 × <span> 60,000 تومان </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="fa fa-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">صندلی آشپزخانه پلاستیکی Nilper</a>
                                                <p>تعداد: 1 × <span> 60,000 تومان </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="fa fa-close"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini_cart_table">
                                        <div class="cart_total">
                                            <span>جمع اجزا:</span>
                                            <span class="price">138,000 تومان</span>
                                        </div>
                                        <div class="cart_total mt-10">
                                            <span>جمع کل:</span>
                                            <span class="price">138,000 تومان</span>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="cart.html">مشاهده سبد</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="checkout.html">پرداخت</a>
                                        </div>

                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom d-none d-lg-block">
                <div class="row align-items-center">
                    <div class="column1 col-lg-3 col-md-6">
                        <div class="categories_menu categories_four">
                            <div class="categories_title">
                                <h2 class="categori_toggle">دسته بندی ها</h2>
                            </div>
                            <div class="categories_menu_toggle">
                                <ul>
                                    <li class="menu_item_children">
                                        <a href="#">
                                            لباس و پوشاک <i class="fa fa-angle-left"></i>
                                            <span class="expand"></span>
                                        </a>
                                        <ul class="categories_mega_menu">
                                            <li class="menu_item_children">
                                                <a href="#">لباس ها<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">زیر پیراهن</a></li>
                                                    <li><a href="">عصرانه</a></li>
                                                    <li><a href="">روزانه</a></li>
                                                    <li><a href="">ورزشی</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">کیف دستی<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">رودوشی</a></li>
                                                    <li><a href="">کیف مدرسه</a></li>
                                                    <li><a href="">کودکانه</a></li>
                                                    <li><a href="">کت ها</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">کفش ها<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">چکمه های مچ پا</a></li>
                                                    <li><a href="">صندل ها قفل دار </a></li>
                                                    <li><a href="">مخصوص دویدن</a></li>
                                                    <li><a href="">کتاب ها</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">پوشاک<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">ژاکت و کت </a></li>
                                                    <li><a href="">بارانی ها</a></li>
                                                    <li><a href="">ژاکت ها</a></li>
                                                    <li><a href="">تیشرت ها</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu_item_children">
                                        <a href="#">
                                            دکور و مبلمان <i class="fa fa-angle-left"></i>
                                            <span class="expand"></span>
                                        </a>
                                        <ul class="categories_mega_menu column_3">
                                            <li class="menu_item_children">
                                                <a href="#">صندلی<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">ناهارخوری</a></li>
                                                    <li><a href="">اتاق خواب</a></li>
                                                    <li><a href=""> خانه و اداره</a></li>
                                                    <li><a href="">اتاق نشیمن</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">نورپردازی<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">نورپردازی سقفی</a></li>
                                                    <li><a href="">نورپردازی دیواری</a></li>
                                                    <li><a href="">نورپردازی بیرون خانه</a></li>
                                                    <li><a href="">نورپردازی هوشمند</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">مبل<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">مبل های پارچه ای</a></li>
                                                    <li><a href="">مبل های چرمی</a></li>
                                                    <li><a href="">مبل های گوشه ای</a></li>
                                                    <li><a href="">مبل های تخت خوابی</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu_item_children">
                                        <a href="#">
                                            قطعات خودرو <i class="fa fa-angle-left"></i>
                                            <span class="expand"></span>
                                        </a>
                                        <ul class="categories_mega_menu column_2">
                                            <li class="menu_item_children">
                                                <a href="#">ابزار ترمز<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">میل لنگ</a></li>
                                                    <li><a href="">قرقره</a></li>
                                                    <li><a href="">دیزل </a></li>
                                                    <li><a href="">بنزین</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">ترمز اضطراری<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">عروسک های دخترانه</a></li>
                                                    <li><a href="">ابزار آموزشی دخترانه</a></li>
                                                    <li><a href="">هنر های کودکان</a></li>
                                                    <li><a href="">بازی های ویدئویی بچگانه</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu_item_children">
                                        <a href="#">
                                            کامپیوتر و لپ تاپ <i class="fa fa-angle-left"></i>
                                            <span class="expand"></span>
                                        </a>
                                        <ul class="categories_mega_menu column_2">
                                            <li class="menu_item_children">
                                                <a href="#">شلوار جین<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">ساختمان</a></li>
                                                    <li><a href="">لوازم الکترونیکی</a></li>
                                                    <li><a href="">اکشن فیگور </a></li>
                                                    <li><a href="">اسباب بازی های مخصوص</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">ماسین حساب ها<span class="expand"></span></a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="">عروسک های دخترانه</a></li>
                                                    <li><a href="">ابزار آموزشی دخترانه</a></li>
                                                    <li><a href="">هنر های کودکان</a></li>
                                                    <li><a href="">بازی های ویدئویی بچگانه</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#"> نورپردازی</a></li>
                                    <li><a href="#"> لوازم جانبی</a></li>
                                    <li><a href="#">قطعات بدنه</a></li>
                                    <li><a href="#">ابزار شبکه</a></li>
                                    <li><a href="#">فیلتر های کارایی</a></li>
                                    <li><a href="#"> قطعات موتور</a></li>
                                    <li id="cat_toggle" class="has-sub">
                                        <a href="#"> دسته های بیشتر</a>
                                        <ul class="categorie_sub">
                                            <li><a href="#">دسته های پنهان</a></li>
                                        </ul>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="column2 col-lg-6 ">
                        <div class="main_menu menu_four menu_position text-center">
                            <nav>
                                @await Component.InvokeAsync("TopMenu")
                            </nav>
                        </div>
                    </div>
                    <div class="column3 col-lg-3 col-md-6">
                        <div class="header_bigsale h_bigsale_four">
                            <a href="#">فروش بزرگ جمعه سیاه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="master-wrapper-content">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

    @if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }
    <div class="master-column-wrapper">
        @RenderBody()
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
</div>
@await Component.InvokeAsync("Footer")
@*</div>*@
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
