@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
@*old ver comments*@
@*<div class="master-wrapper-page">*@
<header>
    <div class="main_header header_four">
        <div class="container">
            @await Component.InvokeAsync("AdminHeaderLinks")

            @await Html.PartialAsync("_Header")

            <div class="header_bottom d-none d-lg-block">
                <div class="row align-items-center">
                    <div class="column1 col-lg-3 col-md-6"></div>
                    <div class="column2 col-lg-6 ">
                        <div class="main_menu menu_four menu_position text-center">
                            @await Component.InvokeAsync("TopMenu")
                        </div>
                    </div>
                    <div class="column3 col-lg-3 col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</header>
@if (IsSectionDefined("Breadcrumb"))
{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @RenderSection("Breadcrumb")
                </div>
            </div>
        </div>
    </div>
}
<section class="slider_section slider_s_four has_banner mb-60 mt-20">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

            @RenderBody()

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
</section>
@await Component.InvokeAsync("Footer")
@*</div>*@
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
